{% extends 'base.jinja2' %}
{% block content %}
    <div>{{ volunteer.username }}</div>
    <div>{{ volunteer.first_name }}</div>
    <div>{{ volunteer.last_name }}</div>
    <div>{{ volunteer.phone_number }}</div>
    <div>{{ volunteer.email }}</div>
    <div>{{ volunteer.town }}</div>
    <div>{{ volunteer.district }}</div>
    <div>{{ volunteer.created_by }}</div>
    <div>{{ volunteer.Created_at }}</div>
    <div>{{ volunteer.organisation_id }}</div>
    <div>{{ volunteer.is_phone_verified }}</div>
    <div>{{ volunteer.is_active }}</div>
{% endblock content %}