{% extends 'base.jinja2' %}

{% block content %}
    <div class="uk-flex uk-flex-center uk-flex-middle uk-margin-large ">
        <div class="uk-card-body uk-card-default">
            <h3 class="uk-card-title uk-text-center">{{ _('Add organisation') }}</h3>
            {% if msg %}
                {% if success %}
                    <div class="uk-alert-success" uk-alert>
                        <a class="uk-alert-close" uk-close></a>
                        <p>{{ msg }}</p>
                    </div>
                {% else %}
                    <div class="uk-alert-danger" uk-alert>
                        <a class="uk-alert-close" uk-close></a>
                        <p>{{ msg }}</p>
                    </div>
                {% endif %}
            {% endif %}

            <div class="uk-container uk-container-small uk-position-relative">
                <form method="POST" action="" class="uk-form-stacked">
                    {{ form.hidden_tag() }}
                    {% for f in form %}
                        {% if f.id=='csrf_token' %}
                            {# do not display #}
                        {% elif f.id == 'submit' %}
                            {# display differently#}
                            <div class="uk-form-controls uk-text-center">

                                {{ f(class="uk-input uk-form-width-small") }}
                            </div>

                        {% else %}
                            {#default display#}
                            <div class="uk-margin">
                                <div class="uk-form-label">
                                    {{ f.label(class="form-control-label") }}
                                </div>

                                {% if f.errors %}
                                    <div class="uk-form-controls">

                                        {{ f(class="uk-input uk-form-danger", style="width:400px") }}
                                    </div>
                                    <div class="invalid-feedback">
                                        {% for error in f.errors %}
                                            <span class="uk-text-danger">{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    <div class="uk-form-controls">

                                        {{ f(class="uk-textarea", style="width:400px") }}
                                    </div>

                                {% endif %}
                            </div>
                        {% endif %}
                    {% endfor %}
                </form>
            </div>
{% endblock content %}