{% extends 'base.jinja2' %}

{% block title %}
    <title>{{ name }} - Zakupy dla Seniora</title>
{% endblock title %}

{% block content %}
    <div class="uk-margin-auto uk-width-5-6 uk-child-width-expand uk-margin-top" uk-grid>
        <div class="uk-card uk-card-default uk-card-body uk-margin-right">
            <h3 class="uk-card-title uk-text-center">{{ name }} <a href="{{ url_for('organisations.edit_organisation') }}">{{ _('edit') }}</a></h3>
            <table class="uk-table">
                <tbody>
                    {% for key, value in org.items() %}
                    <tr>
                        <td class="uk-text-bold">{{ key }}</td>
                        <td class="uk-text-right">{{ value }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="uk-card uk-card-default uk-card-body uk-text-center uk-margin-left uk-margin-right">
            <h3 class="uk-card-title">{{ _('Employees') }}</h3>
            <list class="uk-list">
                {% for employee in employees %}
                    <li><span class="uk-text-bold">{{ employee.first_name }} {{ employee.last_name }}</span> ({{ employee.position }})</li>
                {% endfor %}
            </list>
        </div>
        <div class="uk-card uk-card-default uk-card-body uk-text-center uk-margin-left">
            <h3 class="uk-card-title">{{ _('Volunteers') }}</h3>
            {% if volunteers %}
                <list class="uk-list">
                    {% for volunteer in volunteers %}
                        <li><span class="uk-text-bold">{{ volunteer.first_name }} {{ volunteer.last_name }}</span> ({{ volunteer.district }})</li>
                    {% endfor %}
                </list>
            {% else %}
                <p>
                    {{ _('Sadly there are no volunteers registered. If someone wishes to help you can add them in') }}
                    <a href="{{ url_for('volunteers.add_volunteer') }}"> {{ _('Add volunteer') }}</a>.
                </p>
            {% endif %}
        </div>
    </div>
{% endblock content %}