{% extends 'base.jinja2' %}

{% block title %}
<title>{{ _('Organisations') }}</title>
{% endblock title %}

{% block content %}
    <ul>
        {% for org in organisations %}
            <li><strong>{{ org.id }}</strong> {{ org.name }}</li>
        {% endfor %}
    </ul>
{% endblock content %}