{% extends 'base.jinja2' %}

{% block title %}
    <title>Zakupy dla seniora</title>
{% endblock title %}

{% block head %}
    <style>
        #mapid {
            height: 100%;
        }

        #mapcard{
            height: 75vh;

        }

        footer {
            /*position: absolute;*/
            bottom: 0; !important;
            width: 100%;
            padding-top: 15px;
        }

        .footer-card{
            padding: 0px;

        }
    </style>
{% endblock head %}

{% block content %}
    <div class="uk-child-width-1-2@l" uk-grid="">

        <div class="uk-container" style="height: 70vh;">
            <div class="uk-card-default  uk-card-body uk-padding-small uk-text-center" id="mapcard" style="padding: 5px;">
                <div id="mapid"></div>
            </div>
        </div>

        <div class="uk-container" id ="board" style="height: 90vh;overflow: scroll;">
            {%for  message in messages %}
                <div class="uk-margin uk-card uk-card-hover uk-card-default uk-card-body uk-margin-auto">
                    <h3 class="uk-card-title">{{ message['location'] }}</h3> <a href="/take_message/{{ message['id'] }}" style="float: right;" align="right" class="uk-button uk-button-primary uk-margin-left">Weź zlecenie</a>
                    <p>{{ message['content'] }}</p>

                </div>
            {% endfor %}
        </div>
    </div>

    <script>
        var Icon = L.icon({
            iconUrl: "{{ url_for('static', filename='shopping-cart.svg') }}",

            iconSize:     [50, 50], // size of the icon
            iconAnchor:   [25, 25], // point of the icon which will correspond to marker's location
            popupAnchor:  [0, -30] // point from which the popup should open relative to the iconAnchor
        });

        let mymap = L.map('mapid').setView([52.1009833, 19.100852], 7);
        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '&copy; <a href="https://www.openstreetmap.org/copyright" target="_blank">OpenStreetMap</a> contributors',
            maxZoom: 30,
            id: 'mapbox/streets-v11',
            tileSize: 512,
            zoomOffset: -1,
            accessToken: 'pk.eyJ1IjoiYXZpZW5pciIsImEiOiJjam9mbmduMWkwMTNwM2tyeDJnbmkwc2tkIn0.IDeZinspovU6WJFNTH4I-g'
        }).addTo(mymap);

        {% for message in messages%}

            var marker  =L.marker([{{message['latitude']}}+(Math.random()-0.5)*0.005, {{message['longitude']}}+(Math.random()-0.5)*0.005], {icon: Icon}).bindPopup("<h3>{{message['longitude'] }}</h3><p>{{ message['content'] }}</p>").addTo(mymap);
        {% endfor %}
        mymap.on('moveend', function() {

            display_shopping()

        });
        let data = []
        {% for m in messages %}
            data.push({
                'content': "{{m['content']|safe}}",
                'latitude' : {{m['latitude']}},
                'longitude' : {{m['longitude']}},
                'location' : "{{ m['location'] }}",
                'id':{{ m['id'] }},
                'url': "{{ url_for('messages.take_message', id = m['id']) }}"
            })
        {% endfor %}
            function display_shopping() {
                board = document.getElementById("board");
                html_str = ""
                for (let message of data) {
                    var p = L.latLng(message['latitude'],message['longitude'])
                    if (mymap.getBounds().contains(p)){
                        str = "<div class=\"uk-margin uk-card uk-card-default uk-card-hover uk-card-body uk-margin-auto\"><h3 class=\"uk-card-title\">"+ message['location']+"</h3> <a href="+message['url']+" style=\"float: right;\" align=\"right\" class=\"uk-button uk-button-primary uk-margin-left\">Weź zlecenie</a><p>" + message['content'] + "</p></div>"
                        html_str += str
                    }
                }

                board.innerHTML= html_str;
            }
    </script>
{% endblock content %}
