<nav class="uk-card-default uk-margin-small uk-card-hover" uk-navbar>
    <div class="uk-navbar-left">
        {% if current_user.is_authenticated %}
        <a href="{{ url_for('board.view') }}" class="uk-navbar-item uk-logo">
            <img src="{{ url_for('static', filename='delight.svg') }}" style=" height:50px; ">
            <p class="uk-margin-left">{{ _('SMS Shopping for Seniors')}}</p>
        </a>
        {% else %}
        <a href="{{ url_for('landing.landing_view') }}" class="uk-navbar-item uk-logo">
            <img src="{{ url_for('static', filename='delight.svg') }}" style=" height:50px; ">
            <p class="uk-margin-left">{{ _('SMS Shopping for Seniors')}}</p>
        </a>
        {% endif %}
        {% if current_user.is_authenticated %}

            <div class="navbar-collapse" id="navbar_collapse">
                <ul class="uk-navbar-nav">
                    <li class="uk-parent">
                        <a href="{{ url_for('board.view') }}">
                            {{ _('Announcement')}}
                        </a>
                    </li>

                    <li class="uk-parent">
                        <a href="{{ url_for('users.profile') }}">
                            {{ _('Profile')}}
                        </a>
                    </li>

                    {% if current_user.is_employee or current_user.is_superuser %}
                        <li class="uk-parent">
                            <a href="{{ url_for('organisations.organisation') }}">
                                {{ _('Organisation')}}
                            </a>
                        </li>

                        {% if current_user.is_superuser %}

                            <li class="uk-parent">
                                <a href="{{ url_for('organisations.add_organisation') }}">
                                    {{ _('Add organisation')}}
                                </a>
                            </li>

                            <li class="uk-parent">
                                <a href="{{ url_for('organisations.get_all_organisations') }}">
                                    {{ _('All organisations')}}
                                </a>
                            </li>

                        {% endif %}

                        <li class="uk-parent">
                            <a href="{{ url_for('volunteers.add_volunteer') }}">
                                {{ _('Add volunteer')}}
                            </a>
                        </li>
                           <li class="uk-parent">
                            <a href="{{ url_for('messages.add_message') }}">
                                {{ _('Add message')}}
                            </a>
                        </li>

                    {% endif %}

                </ul>
            </div>

        {% endif %}

    </div>

    {% if current_user.is_authenticated %}
        <div class="uk-navbar-right">
            <div class="uk-navbar-item">
                <ul class="uk-navbar-nav">
                    <li>
                        <button class="uk-button"><a href="{{ url_for('auth.logout') }}">{{ _('Log out')}}</a></button>
                    </li>
                </ul>
            </div>
        </div>
    {% else %}
        <div class="uk-navbar-right">
            <div class="uk-navbar-item">
                <ul class="uk-navbar-nav">
                    <li>
                        <button class="uk-button"><a href="{{ url_for('auth.login')}}">{{_('Log in')}}</a></button>
                    </li>
                </ul>
            </div>
        </div>
    {% endif %}


        <div class="uk-navbar-item">
            <ul class="uk-navbar-nav">
                <li>
                    <a href="{{ url_for(request.endpoint, lang_code='en') }}">en</a>
                </li>
                <li>
                     <a href="{{ url_for(request.endpoint, lang_code='de') }}">de</a>
                </li>
                <li>
                    <a href="{{ url_for(request.endpoint, lang_code='pl') }}">pl</a>
                </li>
            </ul>
        </div>


</nav>
