{% extends 'base.jinja2' %}
{% block content %}
    <table class="uk-table uk-table-divider">
        <thead>
            <tr>
                <th>{{ _('Username')}}</th>
                <th>{{ _('Name')}}</th>
                <th>{{ _('Surname')}}</th>
                <th>{{ _('Phone number')}}</th>
                <th>{{ _('Email')}}</th>
                <th>{{ _('Town')}}</th>
                <th>{{ _('District')}}</th>
                <th>{{ _('Created by')}}</th>
                <th>{{ _('Created at')}}</th>
                <th>{{ _('Organisation')}}</th>
                <th>{{ _('Is phone verified')}}</th>
                <th>{{ _('Is active')}}</th>
            </tr>
        </thead>
        <tbody>
            {% for vol in data %}
                <tr>
                    <td>{{ vol.username }}</td>
                    <td>{{ vol.first_name}}</td>
                    <td>{{ vol.last_name}}</td>
                    <td>{{ vol.phone_number}}</td>
                    <td>{{ vol.email}}</td>
                    <td>{{ vol.town}}</td>
                    <td>{{ vol.district}}</td>
                    <td>{{ vol.created_by}}</td>
                    <td>{{ vol.Created_at}}</td>
                    <td>{{ vol.organisation_id}}</td>
                    <td>{{ vol.is_phone_verified}}</td>
                    <td>{{ vol.is_active}}</td>
                </tr>
            {%  endfor %}
        </tbody>
    </table>
{% endblock content %}