<div class="uk-container uk-container-small uk-position-relative">
    {% if message %}
    <div class="uk-alert-danger uk-alert" uk-alert>
        <a class="uk-alert-close uk-icon uk-close" uk-close></a>
        <p>{{ message }}</p>
    </div>
    {% endif %}
    <form method="POST" action="">
        {% for name, placeholder, type in fields %}
            <div class="uk-margin" >
                <div class="uk-inline">
                    <span class="uk-form-icon" uk-icon="icon: user"></span>
                    {% if message %}
                        <label>
                            <input class="uk-input uk-form-danger uk-form-width-medium" required="required"
                                   type="{{ type }}" name="{{ name }}" placeholder="{{ placeholder }}">
                        </label>
                    {% else %}
                        <label>
                            <input class="uk-input uk-form-width-medium" type="{{ type }}" required="required"
                                   name="{{ name }}" placeholder="{{ placeholder }}">
                        </label>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
        <div class="uk-margin" >
            <input class="uk-input uk-form-width-small" type="submit" value="Submit">
        </div>
    </form>
</div>
