{% extends 'base.jinja2' %}
{% block menu %}
    {% include 'menu.jinja2' %}
{% endblock %}
{% block content %}
    <div class="uk-flex uk-flex-center uk-flex-middle uk-margin-large ">
    <div class="uk-card-body uk-card-default">
         <h3 class="uk-card-title uk-text-center">Zaloguj się do aplikacji</h3>
        {% include 'form.jinja2' %}
    </div>
    </div>
{% endblock content %}