<nav class="uk-card-default uk-margin-small uk-card-hover" uk-navbar>
    <div class="uk-navbar-left">
        <a href="{{ url_for('main.board') }}" class="uk-navbar-item uk-logo">
            <img src="{{ url_for('static', filename='delight.svg') }}" style=" height:50px; ">
            <p class="uk-margin-left">Zakupy dla seniora</p>
        </a>



    </div>
    <div class="uk-navbar-right">
        <div class="uk-navbar-item">
            <ul class="uk-navbar-nav">
                <li>
                    <button class="uk-button"><a href="{{ url_for('auth.login') }}">Zaloguj</a></button>
                </li>
            </ul>
        </div>
    </div>
</nav>
