{% extends 'base.jinja2' %}
{% block content %}
    <div class="uk-child-width-1-2@l">
        <div class="uk-container" style="height: 70vh;">
            <div class="uk-card-default  uk-card-body uk-padding-small uk-text-center" id="mapcard" style="padding: 5px;">
                <div id="mapid"></div>
            </div>
        </div>
    </div>
{% endblock %}
